div#articleCard {
    padding: 25px 10px;
    margin-bottom: 20px;
}

div#articles {
    width: 700px;
    margin-left: 20px;
    float: left;
}

button#noteButton {
    width: 120px;
}

div#notes {
    float: right;
    width: 500px;
    height: 500px;
}